
<div id="product-detail" ng-controller="productdetailCtrl">
    <div class="intro">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>{{product.name}}</h1>
                <p ng-bind-html="product.detail | trusttoHtml"></p>
            </span>
            <span class="right-logo">
                <img ng-src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
    </div>
    <div class="lr-content">
        <div class="l-nav">
            <div class="list-nav">
                <div class="first-nav">
                    <a href="{{itemmaps.base_url}}">{{itemmaps.name}}»</a>
                    <hr>
                    <ul>
                        <li class="second-nav" ng-repeat="smap in itemmaps.smap">
                            <a href="{{itemmaps.base_url}}/{{smap | pathfilter:itemmaps.base_url+'/'}}">
                                {{smap}}»
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lbox" ng-controller="linkbox_ctrl">
                <ul class="link-box z-dist">
                    <expanderzdist expander="catalog16"></expanderzdist>
                    <expanderzdist expander="contact"></expanderzdist>
                </ul>
            </div>
        </div>
        <div class="r-nav">
            <div class="p-detail">
                <div class="aside-link"><a href="#">EMAIL THIS PAGE&nbsp;<img class="icon" src="/source/img/ico-mail.ashx"> </a> : <a href="#">PRINT THIS PAGE&nbsp;<img class="icon" src="/source/img/ico-print.ashx"> </a></div>
                <div class="left-content">
                    <h1>{{product.name}}</h1>
                    <hr>
                    <p>{{product.brief}}</p>
                </div>
                <div class="detail-img">
                    <span class="b-img"><img ng-src="{{product.img[productid]  | imgfilter:1}}"><a href="javascript:void(0);" ng-click="blowup = !blowup">VIEW LARGER<img class="icon" src="/source/img/ico-zoom.gif">
                        <div class='blowup-box' ng-show="blowup">
                            <a href='javascript:void(0);' ng-click="blowup=false" class='close-btn'>close</a>
                            <img ng-src="{{product.img[productid]  | imgfilter:1}}">
                        </div>
                    </a></span>
                    <ul class="s-img">
                        <li class="s-pro-box {{productid == $index ? 'select' : ''}}" ng-repeat="pimg in product.img track by $index" >
                            <a href="javascript:void(0);" ng-mouseover="ahover()">

                                <img ng-src="{{pimg | imgfilter:2}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail-tab">
                <ul class="tab-title">
                    <li ng-repeat="(elem,value) in product.element" class="{{switch == elem ? 'selected' :''}}">
                        <a href="javascript:void(0);" ng-click="tab_switch()">{{elem}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <h3>{{product.element[switch] ? switch :''}}</h3>
                    <!--<hr>-->
                    <span class="content-element" ng-bind-html="product.element[switch] | trusttoHtml">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
