<div id="product-detail" ng-controller="productdetailCtrl">
    <div class="intro">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>SNP-L5233</h1>
                <p>The SNP-L5233H WiseNet Lite PTZ dome camera that provides 23x zoom at 1.3 megapixel HD resolution. This Indoor PTZ Dome camera has the ability to zoom in with perfect clarity at an incredible speed allowing you to track your evidence while capturing smooth video.</p>
            </span>
            <span class="right-logo">
                <img ng-src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
    </div>
    <div class="lr-content">
        <div class="l-nav">
            <div class="list-nav">
                <div class="first-nav">
                    <a href="{{itemmaps.base_url}}">{{itemmaps.map}}»</a>
                    <hr>
                    <ul>
                        <li class="second-nav" ng-repeat="smap in itemmaps.smap">
                            <a href="{{itemmaps.base_url}}/{{smap | pathfilter:itemmaps.base_url+'/'}}">
                                {{smap}}»
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lbox" ng-controller="linkbox_ctrl">
                <ul class="link-box z-dist">
                    <expanderzdist expander="catalog"></expanderzdist>
                    <expanderzdist expander="contact"></expanderzdist>
                    <expanderzdist expander="events"></expanderzdist>
                </ul>
            </div>
        </div>
        <div class="r-nav">
            <div class="p-detail">
                <div class="aside-link"><a href="#">EMAIL THIS PAGE</a> : <a href="#">PRINT THIS PAGE</a></div>
                <div class="left-content">
                    <h1>{{product.map}}</h1>
                    <hr>
                    <p>{{product.brief}}</p>
                </div>
                <div class="detail-img">
                    <span class="b-img"><img ng-src="{{product.img[productid]  | imgfilter:1}}"><a href="javascript:void(0);" ng-click="">VIEW LARGER<img class="icon" src="/source/img/ico-zoom.gif"> </a></span>
                    <ul class="s-img">
                        <li class="s-pro-box" ng-repeat="pimg in product.img track by $index">
                            <a href="javascript:void(0);" ng-mouseover="ahover()">
                                <img ng-src="{{pimg | imgfilter:2}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail-tab">
                <ul class="tab-title">
                    <li ng-repeat="(elem,value) in product.element" class="{{switch == elem ? 'selected' :''}}">
                        <a href="javascript:void(0);" ng-click="tab_switch()">{{elem}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <h3>OVERVIEW</h3>
                    <!--<hr>-->
                    <span class="content-element" ng-bind-html="product.element[switch] | trusttoHtml">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>