<div id="toolsnav">
    <div class="intro" ng-controller="sitenavCtrl">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>{{fnav[item].name}}</h1>
                <p>{{fnav[item].detail}}</p>
            </span>
            <span class="right-logo">
                <img src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
        <ul class="icon-list">
            <li class="map-item" ng-repeat="itemmap in itemmaps track by $index">
                <a class="map" href="/{{path}}{{itemmap | titlefilter}}">
                    <img ng-src="{{maintxt[(itemmap | titlefilter)].img}}">
                </a>
                <a class="title"  href="/{{path}}{{itemmap | titlefilter}}">
                    <h2>{{maintxt[(itemmap | titlefilter)].name}}»</h2>
                </a>
                <hr>
                <a class="rm"  href="/{{path}}{{itemmap | titlefilter}}">
                    read more»
                </a>
            </li>
        </ul>
    </div>
    <div class="lbox" ng-controller="linkbox_ctrl">
        <ul class="link-box h-dist">
            <expanderhdist expander="catalog"></expanderhdist>
            <expanderhdist expander="contact"></expanderhdist>
            <expanderhdist expander="events"></expanderhdist>
        </ul>
    </div>
</div>