<div id="manufacturer">
    <div class="intro" ng-controller="salesmapCtrl">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>{{itemmaps.name}}</h1>
                <p>{{itemmaps.detail}}</p>
            </span>
            <span class="right-logo">
                <img src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
        <div class="sales-map-list">
            <ul class="list">
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/Valenti.ashx">
                        </li>
                        <li class="name">
                            F.M. Valenti
                        </li>
                        <li class="area">
                            ME, VT, NH, MA, NY, CT, RI, Northern NJ
                        </li>
                        <li class="tel">
                            978-536-2666
                        </li>
                        <li class="principal">
                            Steven Valenti
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/KLM.ashx">
                        </li>
                        <li class="name">
                            KLM
                        </li>
                        <li class="area">
                            Delaware, Eastern PA, Southern NJ, MD, VA, Washington D.C.
                        </li>
                        <li class="tel">
                            484-318-6372
                        </li>
                        <li class="principal">
                            Jack Lucas
                        </li>
                        <li class="email">
                            jack@klmmarketing.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/LMS.ashx">
                        </li>
                        <li class="name">
                            Legacy Marketing
                        </li>
                        <li class="area">
                            MI, IN, OH, KY, WV, Western PA
                        </li>
                        <li class="tel">
                            877-951-2042
                        </li>
                        <li class="principal">
                            Dean Paglio
                        </li>
                        <li class="email">
                            dpaglio@legacymarketingreps.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/KAM.ashx">
                        </li>
                        <li class="name">
                            Murphy and Cota
                        </li>
                        <li class="area">
                            TN, NC, SC, MS, AL, GA
                        </li>
                        <li class="tel">
                            770-330-1834
                        </li>
                        <li class="principal">
                            Russ Moore
                        </li>
                        <li class="email">
                            rmoore@murphyandcota.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/PJSA.ashx">
                        </li>
                        <li class="name">
                            Parallel-Solutions
                        </li>
                        <li class="area">
                            Eastern WI, IL
                        </li>
                        <li class="tel">
                            847-471-4828
                        </li>
                        <li class="principal">
                            Vince Panico
                        </li>
                        <li class="email">
                            vince@parallel-solutions.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/4MEDIA.ashx">
                        </li>
                        <li class="name">
                            4Media Group
                        </li>
                        <li class="area">
                            NE, IA, KS, MO
                        </li>
                        <li class="tel">
                            314-406-9613
                        </li>
                        <li class="principal">
                            Patrick Berry
                        </li>
                        <li class="email">
                            pberry@4mediagroup.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/PAR.ashx">
                        </li>
                        <li class="name">
                            R2 & Associates, LLC
                        </li>
                        <li class="area">
                            OK, AR, TX, LA
                        </li>
                        <li class="tel">
                            713-409-4338
                        </li>
                        <li class="principal">
                            Brian Richardson
                        </li>
                        <li class="email">
                            Brian@r2reps.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/RWSALES.ashx">
                        </li>
                        <li class="name">
                            Core4Technologies
                        </li>
                        <li class="area">
                            ND, SD, MN, Western WI
                        </li>
                        <li class="tel">
                            888-551-9209
                        </li>
                        <li class="principal">
                            Ryan Johnson
                        </li>
                        <li class="email">
                            rjohnson@core4technologies.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/INTERMOUNTAIN.ashx">
                        </li>
                        <li class="name">
                            SEGI Sales Pros
                        </li>
                        <li class="area">
                            MT, WY, UT, CO, NM
                        </li>
                        <li class="tel">
                            720-612-3579
                        </li>
                        <li class="principal">
                            Dale Vick
                        </li>
                        <li class="email">
                            dvick@segisalespros.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/THOMASSON.ashx">
                        </li>
                        <li class="name">
                            Warren Associates
                        </li>
                        <li class="area">
                            Northern CA & Northern NV
                        </li>
                        <li class="principal">
                            Bryan Quesinberry
                        </li>
                        <li class="email">
                            bryan@warrenrep.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/south-thomasson.ashx">
                        </li>
                        <li class="name">
                            Thomasson Marketing Group
                        </li>
                        <li class="area">
                            Southern CA & Southern NV
                        </li>
                        <li class="tel">
                            909-993-3036
                        </li>
                        <li class="principal">
                            Jordan M. Thomasson
                        </li>
                        <li class="email">
                            JMT@TMGRepGroup.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/TMG.ashx">
                        </li>
                        <li class="name">
                            Tronex Group
                        </li>
                        <li class="area">
                            FL
                        </li>
                        <li class="tel">
                            352-735-1820
                        </li>
                        <li class="principal">
                            John Loscalzo
                        </li>
                        <li class="email">
                            jloscalzo@tronexgroup.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/tmg_pacific.ashx">
                        </li>
                        <li class="name">
                            Osborn Sales Solutions
                        </li>
                        <li class="area">
                            AK, WA, ID, OR
                        </li>
                        <li class="tel">
                            253-861-4700
                        </li>
                        <li class="principal">
                            Bill Osborn
                        </li>
                        <li class="email">
                            bill@osbornsalessolutions.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/anacon.ashx">
                        </li>
                        <li class="name">
                            Access Direct Sales Inc.
                        </li>
                        <li class="area">
                            Central Canada
                        </li>
                        <li class="tel">
                            888-276-0541
                        </li>
                        <li class="principal">
                            Kevin Cox
                        </li>
                        <li class="email">
                            kevin@admcanada.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/VL_Map_new.ashx">
                        </li>
                        <li class="name">
                            Access Direct Sales Inc.
                        </li>
                        <li class="area">
                            Eastern Canada
                        </li>
                        <li class="tel">
                            888-276-0541
                        </li>
                        <li class="principal">
                            Mark Cup
                        </li>
                        <li class="email">
                            mark@admcanada.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/manufacuturer_representatives/Anacon_Map_New.ashx">
                        </li>
                        <li class="name">
                            Access Direct Sales Inc.
                        </li>
                        <li class="area">
                            Western Canada
                        </li>
                        <li class="tel">
                            888-276-0541
                        </li>
                        <li class="principal">
                            Paolo Polano
                        </li>
                        <li class="email">
                            bryan@warrenrep.com
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>