<div id="northamerica">
    <div class="intro" ng-controller="salesmapCtrl">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>{{itemmaps.name}}</h1>
                <p>{{itemmaps.detail}}</p>
            </span>
            <span class="right-logo">
                <img src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
        <div class="sales-map-list">
            <ul class="list">
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/NE_Map.ashx">
                        </li>
                        <li class="name">
                            Kerby Long
                        </li>
                        <li class="area">
                            Northeast Region
                        </li>
                        <li class="area-detail">
                            CT, MA, ME, NH, NY, VT, RI
                        </li>
                        <li class="tel">
                            203-584-6658
                        </li>
                        <li class="email">
                            kerby.long@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/NY_Metro.ashx">
                        </li>
                        <li class="name">
                            Thomas Cook
                        </li>
                        <li class="area">
                            Northern NJ, NY City
                        </li>
                        <li class="tel">
                            201-325-2623
                        </li>
                        <li class="email">
                            tom.cook@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/scott-territory.ashx">
                        </li>
                        <li class="name">
                            Scott Kernan
                        </li>
                        <li class="area">
                            N.Mid-Atlantic Region
                        </li>
                        <li class="area-detail">
                            MI, IN, OH, KY, WV, Western PA
                        </li>
                        <li class="tel">
                            215-630-2751
                        </li>
                        <li class="email">
                            scott.kernan@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/delia-terr.ashx">
                        </li>
                        <li class="name">
                            Michael Kim
                        </li>
                        <li class="area">
                            Mid-Atlantic Region
                        </li>
                        <li class="area-detail">
                            DE, Southern MD,VA
                        </li>
                        <li class="tel">
                            703-206-8784
                        </li>
                        <li class="email">
                            mike.s.kim@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/Grella_Map.ashx">
                        </li>
                        <li class="name">
                            Bill Grella
                        </li>
                        <li class="area">
                            South East Region
                        </li>
                        <li class="area-detail">
                            GA, NC, SC
                        </li>
                        <li class="tel">
                            678-982-9503
                        </li>
                        <li class="principal">
                            Vince Panico
                        </li>
                        <li class="email">
                            bill.grella@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/Beird_Map.ashx">
                        </li>
                        <li class="name">
                            Brian Beird
                        </li>
                        <li class="area">
                            Florida
                        </li>
                        <li class="area-detail">
                            FL
                        </li>
                        <li class="tel">
                            813-760-5818
                        </li>
                        <li class="email">
                            brian.beird@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/gulf-region.ashx">
                        </li>
                        <li class="name">
                            Jordann Griffith
                        </li>
                        <li class="area">
                            Gulf Region
                        </li>
                        <li class="area-detail">
                            AL, MS, TN
                        </li>
                        <li class="tel">
                            334-549-3181
                        </li>
                        <li class="email">
                            J.griffith@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/lloyd.ashx">
                        </li>
                        <li class="name">
                            Lloyd Taylor
                        </li>
                        <li class="area">
                            Midwest Region
                        </li>
                        <li class="area-detail">
                            Western PA, MI, IN, OH, KY, WV
                        </li>
                        <li class="tel">
                            412-480-7209
                        </li>
                        <li class="email">
                            lloyd.taylor@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/Boyd_Map.ashx">
                        </li>
                        <li class="name">
                            Jason Boyd
                        </li>
                        <li class="area">
                            South Central Region
                        </li>
                        <li class="area-detail">
                            LA, AR, TX, OK
                        </li>
                        <li class="tel">
                            713-252-9912
                        </li>
                        <li class="principal">
                            Dale Vick
                        </li>
                        <li class="email">
                            jason.boyd@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/TWysocki_Map.ashx">
                        </li>
                        <li class="name">
                            Todd Wysocki
                        </li>
                        <li class="area">
                            North Central Region
                        </li>
                        <li class="area-detail">
                            WI, IL
                        </li>
                        <li class="tel">
                            815-353-2004
                        </li>
                        <li class="principal">
                            Bryan Quesinberry
                        </li>
                        <li class="email">
                            todd.wysocki@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/Kallas_Map.ashx">
                        </li>
                        <li class="name">
                            Benjamin Kallas
                        </li>
                        <li class="area">
                            Central Plains
                        </li>
                        <li class="area-detail">
                            ND, SD, NE, KS, MN, IA, MO
                        </li>
                        <li class="tel">
                            612-562-7920
                        </li>
                        <li class="email">
                            b.kallas@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/Central_Plains.ashx">
                        </li>
                        <li class="name">
                            Chris Musick
                        </li>
                        <li class="area">
                            West Region
                        </li>
                        <li class="area-detail">
                            UT, AZ, CO, MT, NM, WY
                        </li>
                        <li class="tel">
                            801-376-1751
                        </li>
                        <li class="email">
                            chris.musick@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/marcus.ashx">
                        </li>
                        <li class="name">
                            David Leiker
                        </li>
                        <li class="area">
                            West Region
                        </li>
                        <li class="area-detail">
                            Northern CA, Northern NV
                        </li>
                        <li class="tel">
                            916-547-3095
                        </li>
                        <li class="email">
                            d.leiker@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/blake.ashx">
                        </li>
                        <li class="name">
                            Rey Eversole
                        </li>
                        <li class="area">
                            Pacific NW Region
                        </li>
                        <li class="area-detail">
                            ID, OR, WA, AK
                        </li>
                        <li class="tel">
                            253-820-3606
                        </li>
                        <li class="email">
                            r.eversole@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/Southern_Cal_Map.ashx">
                        </li>
                        <li class="name">
                            Marco Sanchez
                        </li>
                        <li class="area">
                            So. California, So. Nevada
                        </li>
                        <li class="area-detail">
                            Southern CA, Southern NV
                        </li>
                        <li class="tel">
                            949-878-7764
                        </li>
                        <li class="email">
                            M.sanchez@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/modica.ashx">
                        </li>
                        <li class="name">
                            Dan Couillard
                        </li>
                        <li class="area">
                            National Sales Manager
                        </li>
                        <li class="area-detail">
                            Canada
                        </li>
                        <li class="tel">
                            514-926-9400
                        </li>
                        <li class="email">
                            d.couillard@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/western-canada.ashx">
                        </li>
                        <li class="name">
                            Tim Buschman
                        </li>
                        <li class="area">
                            Western Canada
                        </li>

                        <li class="tel">
                            604-340-3030
                        </li>
                        <li class="email">
                            tim.buschman@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/gordon.ashx">
                        </li>
                        <li class="name">
                            Gordon Frey
                        </li>
                        <li class="area">
                            Central Canada
                        </li>
                        <li class="tel">
                            416-858-0072
                        </li>
                        <li class="email">
                            Gordon.frey@samsungsecurity.com
                        </li>
                    </ul>
                </li>
                <li class="list-item">
                    <ul class="detail">
                        <li>
                            <img src="/source/img/sales/north-america-sales/east-canada.ashx">
                        </li>
                        <li class="name">
                            Dan Couillard
                        </li>
                        <li class="area">
                            Eastern Canada
                        </li>
                        <li class="tel">
                            514-926-9400
                        </li>
                        <li class="email">
                            d.couillard@samsungsecurity.com
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>