<div id="samsung_strategic">
    <div class="intro" ng-controller="salesmapCtrl">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>{{itemmaps.name}}</h1>
                <p>{{itemmaps.detail}}</p>
            </span>
            <span class="right-logo">
                <img src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
        <ul class="table-list">
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/accutech.ashx"> </span>
                <span class="logo_content">
                    <h2>Accu-Tech</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for Accu-Tech website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/new-adi-logo.ashx"> </span>
                <span class="logo_content">
                    <h2>ADI</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for ADI website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/anixter.ashx"> </span>
                <span class="logo_content">
                    <h2>ANIXTER</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for ANIXTER website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/csc.ashx"> </span>
                <span class="logo_content">
                    <h2>Communications Supply Corporation</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for CSC website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/graybar.ashx"> </span>
                <span class="logo_content">
                    <h2>Graybar</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for Graybar website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/scan-source.ashx"> </span>
                <span class="logo_content">
                    <h2>ScanSource Security</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for ScanSource website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/tri-ed.ashx"> </span>
                <span class="logo_content">
                    <h2>Tri-Ed</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for Tri-Ed website
                    </a>
                </span>
            </li>
            <li class="map-item">
                <hr>
                <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/wynit-logo.ashx"> </span>
                <span class="logo_content">
                    <h2>WYNIT</h2>
                    <a class="map" href="http://www.eaccu-tech.com/samsung/">
                        Click here for WYNIT website
                    </a>
                </span>
            </li>
            <hr>
        </ul>
        <div id="scrollbar1"  class="table-list" ng-scrollbar>
            <div class="scrollbar" style="height: 208px">
                <div class="track" style="height: 208px">
                    <div class="thumb" style="height: 58px">
                        <div class="end"></div>
                    </div>
                </div>
            </div>
            <div class="viewport">
                <div class="overview">
                    <ul >
                        <li class="map-item">
                            <hr>
                            <span class="logo_img"><img src="/source/img/sales/samsung_strategic_distributors/accutech.ashx"> </span>
                    <span class="logo_content">
                        <h2>Accu-Tech</h2>
                        <a class="map" href="http://www.eaccu-tech.com/samsung/">
                            Click here for Accu-Tech website
                        </a>
                    </span>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
