<div class="porductDetl">
    <div class="viewlist-holder">
        <div class="vp-topcrv">
            <div class="vp-btmcrv">
                <div class="vp-repeat">
                    <div class="mid-content">
                        <span class="contactinfo">
                            To contact our Customer Support team by e-mail; complete this form and click the &ldquo;Submit&rdquo; button.
                            <br />
                            <br />
                            Our Technical team can also be reached at : 877-213-1222
                            <br />
                            <br />
                            Thank you for your interest in Samsung products.
                        </span>
                        <br />
                        <div class="right required-text">
                            <span class="blue">
                                <span id="contentregion_1_lblRequiredAstrik">*</span></span>
                            <span>
                                <span id="contentregion_1_lblRequired">required fields</span></span></div>
                        <div class="Info-detl">
                            <div class="contact-info" id="divContactInfo">
                                <table>
                                    <tr>
                                        <td width="48%">
                                            <table>
                                                <tr>
                                                    <td class="lablecol">
                                                        First Name<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtFirstName" type="text" id="contentregion_1_txtFirstName" tabindex="1" />
                                                        <p>
                                                            <span id="contentregion_1_rfvFirstName" style="color:Red;display:none;">First Name is required</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Title
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtTitle" type="text" id="contentregion_1_txtTitle" tabindex="3" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Address<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtAddress" type="text" id="contentregion_1_txtAddress" tabindex="5" />
                                                        <p>
                                                            <span id="contentregion_1_rfvAddress" style="color:Red;display:none;">Address is required</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        State<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <select name="contentregion_1$ddlStateList" id="contentregion_1_ddlStateList" tabindex="6">
                                                            <option selected="selected" value="0">Select a State</option>
                                                            <option value="AL">Alabama</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="AZ">Arizona</option>
                                                            <option value="AR">Arkansas</option>
                                                            <option value="CA">California</option>
                                                            <option value="CO">Colorado</option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                            <option value="DC">District Of Columbia</option>
                                                            <option value="FL">Florida</option>
                                                            <option value="GA">Georgia</option>
                                                            <option value="HI">Hawaii</option>
                                                            <option value="ID">Idaho</option>
                                                            <option value="IL">Illinois</option>
                                                            <option value="IN">Indiana</option>
                                                            <option value="IA">Iowa</option>
                                                            <option value="KS">Kansas</option>
                                                            <option value="KY">Kentucky</option>
                                                            <option value="LA">Louisiana</option>
                                                            <option value="ME">Maine</option>
                                                            <option value="MD">Maryland</option>
                                                            <option value="MA">Massachusetts</option>
                                                            <option value="MI">Michigan</option>
                                                            <option value="MN">Minnesota</option>
                                                            <option value="MS">Mississippi</option>
                                                            <option value="MO">Missouri</option>
                                                            <option value="MT">Montana</option>
                                                            <option value="NE">Nebraska</option>
                                                            <option value="NV">Nevada</option>
                                                            <option value="NH">New Hampshire</option>
                                                            <option value="NJ">New Jersey</option>
                                                            <option value="NM">New Mexico</option>
                                                            <option value="NY">New York</option>
                                                            <option value="NC">North Carolina</option>
                                                            <option value="ND">North Dakota</option>
                                                            <option value="OH">Ohio</option>
                                                            <option value="OK">Oklahoma</option>
                                                            <option value="OR">Oregon</option>
                                                            <option value="PA">Pennsylvania</option>
                                                            <option value="RI">Rhode Island</option>
                                                            <option value="SC">South Carolina</option>
                                                            <option value="SD">South Dakota</option>
                                                            <option value="TN">Tennessee</option>
                                                            <option value="TX">Texas</option>
                                                            <option value="UT">Utah</option>
                                                            <option value="VT">Vermont</option>
                                                            <option value="VA">Virginia</option>
                                                            <option value="WA">Washington</option>
                                                            <option value="WV">West Virginia</option>
                                                            <option value="WI">Wisconsin</option>
                                                            <option value="WY">Wyoming</option>
                                                            <option value="AB">Alberta</option>
                                                            <option value="BC">British Columbia</option>
                                                            <option value="MB">Manitoba</option>
                                                            <option value="NB">New Brunswick</option>
                                                            <option value="NL">Newfoundland and Labrador</option>
                                                            <option value="NT">Northwest Territories</option>
                                                            <option value="NS">Nova Scotia</option>
                                                            <option value="NU">Nunavut </option>
                                                            <option value="ON">Ontario</option>
                                                            <option value="PE">Prince Edward Island</option>
                                                            <option value="QC">Quebec</option>
                                                            <option value="SK">Saskatchewan</option>
                                                            <option value="YT">Yukon</option>

                                                        </select>
                                                        <p>
                                                            <span id="contentregion_1_rfvState" style="color:Red;display:none;">State is required</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Phone<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtPhoneBox1" type="text" maxlength="3" id="contentregion_1_txtPhoneBox1" tabindex="8" class="small-txtbox" onkeypress="return isNumberKey(event)" onKeyUp="autoTab(this,3,event,1)" />
                                                        <span class="dash">-</span>
                                                        <input name="contentregion_1$txtPhoneBox2" type="text" maxlength="3" id="contentregion_1_txtPhoneBox2" tabindex="9" class="small-txtbox" onkeypress="return isNumberKey(event)" onKeyUp="autoTab(this,3,event,1)" />
                                                        <span class="dash">-</span>
                                                        <input name="contentregion_1$txtPhoneBox3" type="text" maxlength="4" id="contentregion_1_txtPhoneBox3" tabindex="10" class="small-txtbox" onkeypress="return isNumberKey(event)" onKeyUp="autoTab(this,4,event,1)" />
                                                        <div id="phoneerroDiv" style="color: Red; display: none">
                                                            Invalid phone number</div>
                                                        <p>
                                                            <span id="contentregion_1_rev1" style="color:Red;display:none;">Enter 3 digit Area code</span>
                                                            <span id="contentregion_1_RegularExpressionValidator1" style="color:Red;display:none;">Enter 3 digit Phone Prefix</span>
                                                            <span id="contentregion_1_RegularExpressionValidator2" style="color:Red;display:none;">Enter 4 digit extension number</span>
                                                            <span id="contentregion_1_RequiredFieldValidator1" style="color:Red;display:none;">Enter Phone1</span>
                                                            <span id="contentregion_1_RequiredFieldValidator2" style="color:Red;display:none;">Enter Phone2</span>
                                                            <span id="contentregion_1_RequiredFieldValidator3" style="color:Red;display:none;">Enter Phone3</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        E-mail<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtEmail" type="text" id="contentregion_1_txtEmail" tabindex="14" />
                                                        <p>
                                                            <span id="contentregion_1_rfvEmail" style="color:Red;display:none;">Email is required</span></p>
                                                        <p>
                                                            <span id="contentregion_1_regexEmailValid" style="color:Red;display:none;">Invalid Email Format</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Query Type<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <select name="contentregion_1$ddlQueryList" id="contentregion_1_ddlQueryList" tabindex="15" onchange="ShowHideDiv()">
                                                            <option selected="selected" value="0">Please Select</option>
                                                            <option value="1">General Question</option>
                                                            <option value="2">Product Availability</option>
                                                            <option value="3">Order Status</option>
                                                            <option value="4">Shipment Tracking Number</option>
                                                            <option value="5">Copy of Invoice</option>
                                                            <option value="6">Repair Status</option>
                                                            <option value="7">Out of Box Defect</option>

                                                        </select>
                                                        <p>
                                                            <span id="contentregion_1_RequiredFieldValidator5" style="color:Red;display:none;">Select Query Type</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Additional Information<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <textarea name="contentregion_1$txtAdditionalInformation" rows="2" cols="20" id="contentregion_1_txtAdditionalInformation" tabindex="16"></textarea>
                                                        <p>
                                                            <span id="contentregion_1_RequiredFieldValidator9" style="color:Red;display:none;">Enter  Additional Information</span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td class="lablecol">
                                                        Last Name<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtLastName" type="text" id="contentregion_1_txtLastName" tabindex="2" />
                                                        <p>
                                                            <span id="contentregion_1_rfvLastName" style="color:Red;display:none;">Last Name is required</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Company<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtComapany" type="text" id="contentregion_1_txtComapany" tabindex="4" />
                                                        <p>
                                                            <span id="contentregion_1_rfvComapant" style="color:Red;display:none;">Company is required</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        City<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtCity" type="text" id="contentregion_1_txtCity" tabindex="5" />
                                                        <p>
                                                            <span id="contentregion_1_rfvCity" style="color:Red;display:none;">City is required</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Zipcode<span class="blue">*</span>
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtZipcode" type="text" maxlength="5" id="contentregion_1_txtZipcode" tabindex="7" />
                                                        <p>
                                                            <span id="contentregion_1_rfvZipcode" style="color:Red;display:none;">Zipcode is required</span></p>
                                                        <p>
                                                            <span id="contentregion_1_revZipcode" style="color:Red;display:none;">Invalid Zipcode</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lablecol">
                                                        Fax
                                                    </td>
                                                    <td class="inputcol">
                                                        <input name="contentregion_1$txtFaxBox1" type="text" maxlength="3" id="contentregion_1_txtFaxBox1" tabindex="11" class="small-txtbox" onkeypress="return isNumberKey(event)" onKeyUp="autoTab(this,3,event,1)" />
                                                        <span class="dash">-</span>
                                                        <input name="contentregion_1$txtFaxBox2" type="text" maxlength="3" id="contentregion_1_txtFaxBox2" tabindex="12" class="small-txtbox" onkeypress="return isNumberKey(event)" onKeyUp="autoTab(this,3,event,1)" />
                                                        <span class="dash">-</span>
                                                        <input name="contentregion_1$txtFaxBox3" type="text" maxlength="4" id="contentregion_1_txtFaxBox3" tabindex="13" class="small-txtbox" onkeypress="return isNumberKey(event)" onKeyUp="autoTab(this,4,event,1)" />
                                                        <p>
                                                            <span id="contentregion_1_RegularExpressionValidator3" style="color:Red;display:none;">Enter 3 digit Area code</span>
                                                            <span id="contentregion_1_RegularExpressionValidator4" style="color:Red;display:none;">Enter 3 digit Fax Prefix</span>
                                                            <span id="contentregion_1_RegularExpressionValidator5" style="color:Red;display:none;">Enter 4 digit extension number</span>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div id="contentregion_1_divAccountPONumber" style="display:none;">
                                                            <table>
                                                                <tr>
                                                                    <td class="lablecol">
                                                                        Account Number<span class="blue">*</span>
                                                                    </td>
                                                                    <td class="inputcol">
                                                                        <input name="contentregion_1$txtAccountNumber" type="text" maxlength="20" id="contentregion_1_txtAccountNumber" tabindex="18" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="lablecol">
                                                                        PO Number<span class="blue">*</span>
                                                                    </td>
                                                                    <td class="inputcol">
                                                                        <input name="contentregion_1$txtPONumber" type="text" maxlength="20" id="contentregion_1_txtPONumber" tabindex="19" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div id="contentregion_1_divRsNA" style="display:none;">
                                                            <table>
                                                                <tr>
                                                                    <td class="lablecol">
                                                                        Return Service Authorization Number<span class="blue">*</span>
                                                                    </td>
                                                                    <td class="inputcol">
                                                                        <input name="contentregion_1$txtRSAN" type="text" maxlength="20" id="contentregion_1_txtRSAN" tabindex="20" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div id="contentregion_1_divReturnCredit" style="display:none;">
                                                            <table>
                                                                <tr>
                                                                    <td class="lablecol">
                                                                        Model Number<span class="blue">*</span>
                                                                    </td>
                                                                    <td class="inputcol">
                                                                        <input name="contentregion_1$txtModelNumber" type="text" maxlength="20" id="contentregion_1_txtModelNumber" tabindex="21" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="lablecol">
                                                                        Serial Number<span class="blue">*</span>
                                                                    </td>
                                                                    <td class="inputcol">
                                                                        <input name="contentregion_1$txtSerialNumber" type="text" maxlength="20" id="contentregion_1_txtSerialNumber" tabindex="22" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="lablecol">
                                                                        Reason for Return Request<span class="blue">*</span>
                                                                    </td>
                                                                    <td class="inputcol">
                                                                        <textarea name="contentregion_1$txtReasonRR" rows="2" cols="20" id="contentregion_1_txtReasonRR" tabindex="23"></textarea>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table width="100%">
                                                <tr>
                                                    <td width="80%">
                                                        <table width="100%">
                                                            <tr>
                                                                <td class="lablecol">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="inputcol">
                                                                    <img src="/SamsungHome/CaptchaImage.aspx" id="contentregion_1_imgCaptchaNew" alt="CaptchaImage" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="lablecol">
                                                                    <span id="contentregion_1_lblCapthcaCode">Enter Code</span>
                                                                    <span class="blue">*</span>
                                                                </td>
                                                                <td class="inputcol">
                                                                    <input name="contentregion_1$CodeNumberTextBox" type="text" id="contentregion_1_CodeNumberTextBox" tabindex="17" />
                                                                    <span class="gray">(Enter the verification code show in the image above)</span>
                                                                    <p>
                                                                        <span id="contentregion_1_RequiredFieldValidator4" style="color:Red;display:none;">Enter Verification code</span></p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="lablecol">
                                                                    &nbsp;
                                                                </td>
                                                                <td>
                                                                    <p>
                                                                        <span id="contentregion_1_MessageLabel"></span></p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="lablecol">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="inputcol">
                                                                    <span class="button-blue"><span>
                                                                        <input type="submit" class="submit-btn" value="Submit »" /></span> </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
