<div class="mid-content">
    <div class="StaticContent">
    <h3>
        Samsung Techwin America
    </h3>
    <p class="w550 left">
      <span>
        <p>&nbsp;</p>
<p>Based on optical and image processing technologies accumulated over 30 years, Samsung Techwin has solidified its leadership position in the field of security solutions by developing and manufacturing cutting-edge security systems, including the world&rsquo;s best-performing security cameras, digital video recorders, and network control systems. </p>
<p>Samsung Techwin America's management team brings a wealth of experience and is redefining what you'd expect in a digital video security provider which is committed to acquiring the world's best technology to expand its product portfolio. </p>
<p>Samsung Techwin&rsquo;s world leading imaging technology plays an important role in protecting the safety of people by providing a comprehensive range of products and complete solutions ranging from city surveillance to the protection of streets, airports, ports, industrial facilities and military installations. Take a look at Samsung Techwin&rsquo;s complete line of products and you&rsquo;ll see the Samsung advantage.</p>
      </span>
    </p>
    <p class="right">
        <img src="~/media/3D6658D8A0BF4E75B3E2D050FABCF4E1.ashx" alt="" />
    </p>
    <p class="clear">
    </p>
    <h3>

    </h3>
    <p class="w550 left">
      <span>
        
      </span>
    </p>
    <p class="right">
        <img src="/source/img/company/image002.ashx" alt="" width="261" height="202" />
    </p>
    <p class="clear">
    </p>
</div>
</div>

<div class="mid-content">
    <div class="StaticContent">
        <h3>
            Contact Us</h3>


        <dl class="address">
            <dt>
                US Headquarters
            </<dt>
            <dd>
                <p>
                  <span class="dspBlk">
                    100 Challenger Road, Suite 700<br/>Ridgefield Park, NJ 07660
                  </span>
                  <span class="dspBlk">
                    
                  </span>
                  <span class="dspBlk">
                    <span>
                      <span id="contentregion_1_solutiondetailcontentregion_1_rptAddressList_ctl01_lblToolFreeNumberHeader">TOLL FREE:</span></span>
                    877-213-1222
                  </span>
                  <span class="dspBlk">
                    <span>
                      <span id="contentregion_1_solutiondetailcontentregion_1_rptAddressList_ctl01_lblOfficeNumberHeader">OFFICE:</span></span>
                    201-325-6920
                  </span>
                  <span class="dspBlk">
                    <span>
                      <span id="contentregion_1_solutiondetailcontentregion_1_rptAddressList_ctl01_lblFaxHeader">FAX:</span></span>
                    201-373-0124
                  </span>
                    <span id="contentregion_1_solutiondetailcontentregion_1_rptAddressList_ctl01_lblEmailHeader"></span>
                    <a id="contentregion_1_solutiondetailcontentregion_1_rptAddressList_ctl01_hlnkNavigateURL" href="http://www.samsung-security.com">www.samsung-security.com</a>
                </p>
            </dd>
        </dl>
    </div>
</div>


