<p style="text-align: center;"><img alt="" width="800" height="200" src="/source/img/company/samsung-open-platform.ashx" /><br />
    &nbsp;</p>
<p></p>
<strong>Introduction</strong><br />
Leave it to Samsung to bring the versatility and convenience of apps to surveillance cameras. Cameras will now perform with Open Platform Technology which will increase capabilities and include new features from partner companies. For Samsung and their clients, this means intelligence at the edge &mdash; wherever and whenever it&rsquo;s wanted.<br />
<br />
<strong>Partners</strong><br />
- PlateSmart&mdash;License Plate Recognition (LPR)<br />
- Agent VI &mdash; Video Analytics<br />
<p>- Veracity &mdash; Direct-To-Storage Video Transfer From The Camera</p>
<p>PlateSmart, Agent VI, Veracity, and other partners, means innovation, and an easy and economical way to make the best performance and value proposition for surveillance cameras even better. </p>
<strong>Choice &amp; Simplicity</strong><br />
The end user can install an application that provides video analysis functions, such as, People Counting, Intrusion Detection, Queue Management, License Plate Recognition, Face Capture &amp; Recognition, Transit &amp; Cargo Recognition.<br />
<br />
<strong>Opening Doors</strong><br />
Samsung Techwin America introduced their Open Platform in September 2014. This product and service makes it possible for third-party companies to use standardized APIs in developing applications and for installation of the Samsung WiseNet III cam-era series.<br />
<br />
The Open Platform is a launching pad for the development of innovative video surveillance and security systems that can be applied to many market segments. Samsung Techwin continues to push the boundaries of traditional video surveillance because their framework will allow end users to install any number of applications: Cloud connectivity, video software, and client.<br />
<br />
Channel Partners, Technology Partners, and Application Partners are eligible for different levels of participation.<br />
<br />
<strong>Development</strong><br />
Samsung Techwin is encouraging third-party apps developers to participate in their Open Platform. These contributions, if accepted, would go directly on the camera including onboard storage, analytics, video management solutions (VMS), and direct cloud activity. The Samsung Techwin Open Plat-form is encouraging development of the principle of camera-to-cloud recording and storage, which can work as an integrated VMS within the system. <br />
<br />
Third-party analytics also is a strong player for development within the WiseNet camera series. The WiseNetIII features the most advanced functions from Samsung Techwin with 1.3 megapixel and 2 megapixel cameras for high-definition images. Designed to meet the market&rsquo;s needs, WiseNetIII cam-eras will be the standard product for professional security systems. <br />
<br />
Analytics will play a major role in apps development on the camera in the Open Platform. The analytics captured will be able to stream to the server &mdash; though the analytics will be used on the camera. Analytics will be decoded over the network, as a compressed file, and the end user will be able to see the video before compression. This will allow for elimination of extra servers while the VMS will serve as a &ldquo;traffic cop&rdquo; for the video stream.<br />
<br />
Although this program has been in use in UMEA, it will now focus on the United States, where apps developers will provide resources for cameras. Sam-sung Techwin engineers in Korea will make the final determination of its viability; however, the Open Plat-form will allow apps developers to test their product themselves before submitting it to engineers.<br />
<br />
<strong>New Technology</strong><br />
The Open Platform serves as an open invitation to developers: Samsung Techwin wants to work with anyone and everyone interested in the Open Platform concept. Samsung Techwin is also equally interested in working with international partners as part of a new global technology partnership.<br />
<br />
Samsung Techwin sees value in product development that includes features in which no one else is providing, and they will provide exposure to the video surveillance market as a product is vetted and qualified as an Open Platform partner.<br />
<br />
<strong>New Partner Program</strong><br />
Samsung Techwin America continues to enhance its services and product benefits with its new Sam-sung Techwin Eco Partner (STEP) program. Partnership includes access to Samsung IP Institute (SIPI) training, lead sharing, and co-marketing sup-port. SIPI is an industry standard where strategic partners are given resources and tools to help them grow with Samsung Techwin. <br />
<br />
STEP partners become part of the global network that includes best-in-class security products and provides an unmatched level of pre- and post-sales support. STEP includes five partner types: Channel Partner for systems integrators, installers and re-sellers; Technology Partner for hardware vendors; A&amp;E Partner for architects, engineers, and security design professionals; Application Partner for apps developers; and Client Partner for end users.<br />
<br />
<strong>Conclusion</strong><br />
Leading the global security market, STEP is a membership program that provides our partners using Samsung Techwin products with many distinct ad-vantages and benefits. As well as supporting the success of partners through our high-quality products using our advanced and innovative technologies, STEP will enable our partners to provide a truly differentiated offering and solution.<br />
</div>
<div class="line">
    &nbsp;</div>
<div>
