
<script type="text/javascript" src="/source/js/jquery.cycle.all.min.js"></script>
<div id="linkb" ng-controller="linkbox_ctrl">
    <!--jqueryslider-->
    <div id="slider-box" ng-slider>
        <div class="viewport">
            <ul class="overview">
                <li class="slider-item">
                    <div class="tip">
                        <div class="tip-block">
                            <em>WiseNet Lite</em>
                            <h1>NEW! Breakthrough in Price & Quality!</h1>
                            <p>Samsung Techwin introduces its new WiseNet Lite series, an affordable product line with simple and essential features ideal for securing small sized applications. Click here for more information.</p>
                        </div>
                    </div>
                    <div class="advertisement">
                        <img src="/source/img/index/slider/slider_lite.ashx">
                    </div>
                </li>
                <li class="slider-item">
                    <div class="tip">
                        <div class="tip-block">
                            <em>1080p Analog HD</em>
                            <h1>WiseNet HD+ Series</h1>
                            <p>WiseNet HD+ series is an analog HD solution that provides better performance than existing analog products. WiseNet HD+ can transmit 1080p Full-HD high quality images through existing coaxial cable at a distance up to 1640ft. It is also backwards compatible with any existing analog system. Click here for more information.</p>
                        </div>
                    </div>
                    <div class="advertisement">
                        <img src="/source/img/index/slider/slider_hd.ashx">
                    </div>
                </li>
                <li class="slider-item">
                    <div class="tip">
                        <div class="tip-block">
                            <em>SNP-5430H</em>
                            <h1>The Industry's First!</h1>
                            <p>The highest zoom PTZ’s in the world allow you to cover a wide area while still being able to view clear details.  Ultra fast frame rate provides up to 60 frames per second for latency free clear images of moving objects.</p>
                        </div>
                    </div>
                    <div class="advertisement">
                        <img src="/source/img/index/slider/slider_snp.ashx">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/source/js/JquerySlider.js"></script>

    <!--product-box-->
    <div class="product">
        <div class="product-title">
            <span><em>FEATURED PRODUCTS</em></span>
        </div>

        <div id="slider_pro" class="product-content" ng-sliderbutton>
            <a class="a-btn prev" href="javascript:void(0);"></a>
            <div class="viewport">
                <ul class="overview">
                    <li><a href="/#/products/security_cameras/ip_cameras/se_ip_box/snb_9000">
                        <img src="/source/img/index/product/SNB-9000.ashx">
                        <h2>4K Technology</h2>
                    </a></li>
                    <li><a href="/#/products/security_cameras/ip_cameras/se_ip_wisenet_lite/snd_l6013">
                        <img src="/source/img/index/product/SND-L6013.ashx">
                        <h2>SND-L6012</h2>
                    </a></li>
                    <li><a href="/#/products/ip_kits/4_channel_ip_kit/ip_4__srk_3030s/ip_4__srk_3030s">
                        <img src="/source/img/index/product/SRK-3030S.ashx">
                        <h2>4CH IP Kit w/Fisheye</h2>
                    </a></li>
                    <li><a href="/#/products/network_systems/network_video_recorders/ne_ne_4_channel/srn_473s">
                        <img src="/source/img/index/product/SRN-473S.ashx">
                        <h2>Plug & Play NVR</h2>
                    </a></li>
                    <li><a href="/#/products/network_systems/network_video_recorders/ne_ne_64_channel/srn_4000">
                        <img src="/source/img/index/product/SRN-4000.ashx">
                        <h2>Stand-Alone NVR</h2>
                    </a></li>
                </ul>
            </div>
            <a class="a-btn next" href="javascript:void(0);"></a>
        </div>
    </div>
    <div class="lbox">
        <ul class="link-box h-dist">
            <expanderhdist expander="youtube"></expanderhdist>
            <expanderhdist expander="events"></expanderhdist>
            <expanderhdist expander="training"></expanderhdist>
        </ul>
    </div>
</div>