<style type="text/css">
    .ProdLink {
    }
</style>
<div id="sitepage">
    <div class="intro" ng_controller="sitepageCtrl">
        <div class="detail">
            <span class="left-txt">
                <pathlist>导航目录</pathlist>
                <h1>Site Map</h1>
            </span>
            <span class="right-logo">
                <img src="/source/img/samsungbiglogo.ashx">
            </span>
        </div>
        <div class="icon-list">
            <div class="LinkSiteMap">
                <div class="PrdLinks">
                    <p class="head">
                        Products</p>
                            <span id="contentregion_1_dtListProductType"><span>
                                </span><br /><span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl01_hlnkProductType"
                                                   href="#/products/security_cameras">Security Cameras</a></h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_hlnkproductCategory"
                                                           href="#/products/security_cameras/ip_cameras">IP
                                                            Cameras</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_wisenet_lite">WiseNet
                                                                Lite</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_box">Box</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl03_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_bullet">Bullet</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl04_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_fisheye">Fisheye</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl05_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_fixed_domes">Fixed
                                                                Domes</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl06_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_vandal_resistant_domes">Vandal_Resistant
                                                                Domes</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl07_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_ptz_domes">PTZ
                                                                Domes</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl01_rptProductSubCategory_ctl08_hnkProductSubCategory"
                                                               href="#/products/security_cameras/ip_cameras/se_ip_wireless">Wireless</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_hlnkproductCategory"
                                                           href="#/products/security_cameras/analog_cameras">Analog
                                                            Cameras</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_beyond_series">Beyond
                                                                Series</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_wisenet_hd+_series">WiseNet
                                                                HD+ Series</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl03_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_box">Box</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl04_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_bullet">Bullet</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl05_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_fixed_domes">Fixed
                                                                Domes</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl06_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_vandal_resistant_domes">Vandal_Resistant
                                                                Domes</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl07_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_positioning_system">Positioning
                                                                System</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl08_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_ptz_cameras">PTZ
                                                                Cameras</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl02_rptProductSubCategory_ctl09_hnkProductSubCategory"
                                                               href="#/products/security_cameras/analog_cameras/se_an_utp_cameras">UTP
                                                                Cameras</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl03_hlnkproductCategory"
                                                           href="#/products/security_cameras/mobile_apps">Mobile
                                                            Apps</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl03_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/security_cameras/mobile_apps/se_mo_ssm_apps">SSM
                                                                Apps</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl01_rptProductCategory_ctl03_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/security_cameras/mobile_apps/se_mo_ipolis_apps">iPolis
                                                                Apps</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                            </ul>

                                        </div>

                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl02_hlnkProductType"
                                                   href="#/products/network_systems">Network
                                                    Systems</a></h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl01_hlnkproductCategory"
                                                           href="#/products/network_systems/network_video_recorders">Network
                                                            Video Recorders</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl01_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/network_systems/network_video_recorders/ne_ne_4_channel">4
                                                                Channel</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl01_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/network_systems/network_video_recorders/ne_ne_8_channel_nvrs">8
                                                                Channel NVRs</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl01_rptProductSubCategory_ctl03_hnkProductSubCategory"
                                                               href="#/products/network_systems/network_video_recorders/ne_ne_16_channel">16
                                                                Channel</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl01_rptProductSubCategory_ctl04_hnkProductSubCategory"
                                                               href="#/products/network_systems/network_video_recorders/ne_ne_64_channel">64
                                                                Channel</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl02_hlnkproductCategory"
                                                           href="#/products/network_systems/switches_ethernet">Switches
                                                            Ethernet</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl02_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/network_systems/switches_ethernet/ne_sw_ethernet_switches">Ethernet
                                                                Switches</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl02_rptProductCategory_ctl03_hlnkproductCategory"
                                                           href="#/products/network_systems/video_management_software">Network
                                                            Software</a>
                                                    </h4>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>

                                    </span><br /><span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl03_hlnkProductType" href="#/products/ip_kits">IP Kits</a></h3>

                                        </div>
                                    </div>
                                </span><span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <ul class="ProdLink">
                                            <li><h4><a  href="#/products/ip_kits/4_channel_ip_kit">4 Channel IP Kit»</a></h4></li>
                                            <li><h4><a  href="#/products/ip_kits/8_channel_ip_kit">8 Channel IP Kit»</a></h4></li>
                                            <li><h4><a  href="#/products/ip_kits/16_channel_ip_kit">16 Channel IP Kit»</a></h4></li>
                                            </ul>
                                        </div>
                                    </div>
                                </span><br />
                                <span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl05_hlnkProductType" href="#/products/recording_solutions">Recording Solutions</a></h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a href="#/products/recording_solutions/digital_video_recorders">Digital Video Recorders</a>
                                                    </h4>

                                                    <ul>
                                                        <li>
                                                            <a href="#/products/recording_solutions/digital_video_recorders/re_di_beyond_series_dvr's">Beyond Series DVR's</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/recording_solutions/digital_video_recorders/re_di_wisenet_hd+_dvrs">WiseNet HD+ DVRs</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/recording_solutions/digital_video_recorders/re_di_16_channel">16 Channel</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/recording_solutions/digital_video_recorders/re_di_8_channel">8 Channel</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/recording_solutions/digital_video_recorders/re_di_4_channel">4 Channel</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/recording_solutions/digital_video_recorders/re_di_hdd_extension_unit">HDD Extension Unit</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                            </ul>
                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a href="#/products/recording_solutions/encoders_decoders">Encoders/Decoders</a>
                                                    </h4>

                                                    <ul>
                                                        <li>
                                                            <a href="#/products/encoders_decoders/seneca/re_en_decoders">Decoders</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/encoders_decoders/seneca/re_en_encoders">Encoders</a>
                                                        </li>


                                                    </ul>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </span>
                                <span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a  href="#/products/storage_solutions">Recording Solutions</a></h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a href="#/products/storage_solutions/digital_video_recorders">Seneca»</a>
                                                    </h4>

                                                    <ul>
                                                        <li>
                                                            <a href="#/products/storage_solutions/seneca/st_se_central_video_management_displays">Central Video Management Displays»</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/storage_solutions/seneca/st_se_central_video_management_servers">Central Video Management Servers»</a>
                                                        </li>
                                                        <li>
                                                            <a href="#/products/storage_solutions/seneca/st_se_network_video_recorders">Network Video Recorders»</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </span>
                                <span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl06_hlnkProductType" href="#/products/camera_lenses">Camera Lenses</a></h3>

                                        </div>
                                    </div>
                                </span><br /><span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl07_hlnkProductType"
                                                   href="#/products/monitors">Monitors</a></h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl01_hlnkproductCategory"
                                                           href="#/products/monitors/lcd_monitors">LCD
                                                            Monitors</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl01_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/monitors/lcd_monitors/mo_lc_17__monitors">17"
                                                                Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl01_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/monitors/lcd_monitors/mo_lc_19__monitors">19"
                                                                Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl01_rptProductSubCategory_ctl03_hnkProductSubCategory"
                                                               href="#/products/monitors/lcd_monitors/mo_lc_22__monitors">22"
                                                                Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl01_rptProductSubCategory_ctl04_hnkProductSubCategory"
                                                               href="#/products/monitors/lcd_monitors/mo_lc_32__monitors">32"
                                                                Monitors</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_hlnkproductCategory"
                                                           href="#/products/monitors/led_monitors">LED
                                                            Monitors</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/monitors/led_monitors/mo_le_17__led_monitors">17"
                                                                LED Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/monitors/led_monitors/mo_le_19__led_monitors">19"
                                                                LED Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_rptProductSubCategory_ctl03_hnkProductSubCategory"
                                                               href="#/products/monitors/led_monitors/mo_le_22__led_monitors">22"
                                                                LED Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_rptProductSubCategory_ctl04_hnkProductSubCategory"
                                                               href="#/products/monitors/led_monitors/mo_le_27__led_monitors">27"
                                                                LED Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_rptProductSubCategory_ctl05_hnkProductSubCategory"
                                                               href="#/products/monitors/led_monitors/mo_le_32__led_monitors">32"
                                                                LED Monitors</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl07_rptProductCategory_ctl02_rptProductSubCategory_ctl06_hnkProductSubCategory"
                                                               href="#/products/monitors/led_monitors/mo_le_40__led_monitors">40"
                                                                LED Monitors</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>

                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a id="contentregion_1_dtListProductType_ctl08_hlnkProductType"
                                                   href="#/products/controller_systems">Controller Systems</a>
                                            </h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl08_rptProductCategory_ctl01_hlnkproductCategory"
                                                           href="#/products/controller_systems/remote_camera_control">Remote Camera Control»</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl08_rptProductCategory_ctl01_rptProductSubCategory_ctl01_hnkProductSubCategory"
                                                               href="#/products/controller_systems/remote_camera_control/co_re_analog_controllers">Analog Controllers»</a>
                                                        </li>

                                                        <li>
                                                            <a id="contentregion_1_dtListProductType_ctl08_rptProductCategory_ctl01_rptProductSubCategory_ctl02_hnkProductSubCategory"
                                                               href="#/products/controller_systems/remote_camera_control/co_re_network_controllers">Network Controllers»</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </span><br /><span>
                                    <div class="left sitempbox">
                                        <div class="GrayBlock">
                                            <h3>
                                                <a  href="#/products/accessories">Accessories</a></h3>

                                            <ul class="ProdLink">

                                                <li>
                                                    <h4>
                                                        <a id="contentregion_1_dtListProductType_ctl09_rptProductCategory_ctl01_hlnkproductCategory" href="#/products/accessories/camera_accessories">Camera Accessories</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_smoked_dome_covers">Smoked Dome Covers</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_box_camera_housings">Box Camera Housings</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_ptz_dome_housings">PTZ/Dome Housings</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_ptz_dome_mounts">PTZ/Dome Mounts</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_box_camera_mounts">Box Camera Mounts</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_hd_cctv_accessories">HD CCTV</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_network_cameras_poe_injectors_accessories">Network Cameras POE Injectors Accessories</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_utp_video_devices">UTP Devices</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_accessories/ac_ca_monitor_stands">Monitor Stands</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a href="#/products/accessories/camera_power_supplies">Camera Power Supplies</a>
                                                    </h4>

                                                    <ul>

                                                        <li>
                                                            <a href="#/products/accessories/camera_power_supplies/ac_ca_24v_ac_supplies">24V AC Supplies</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_power_supplies/ac_ca_12v_dc_supplies">12V DC Supplies</a>
                                                        </li>

                                                        <li>
                                                            <a href="#/products/accessories/camera_power_supplies/ac_ca_15v_dc_supply">15V DC Supply</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <h4>
                                                        <a href="#/products/accessories/accessory_selector_guide">Accessory Selector Guide</a>
                                                    </h4>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </span><br /><span>
                                </ul>
                                </span></span>
                </div>
                <div class="PrdLinks right">
                <span id="contentregion_1_dtListOtherMenu"><span>
                </span><br /><span>
                <div class="right" style="width: 200px">
                    <p class="head">
                        <a id="contentregion_1_dtListOtherMenu_ctl01_hlnkMenuLink"
                           href="#/case_studies">Case Studies</a></p>

                    <ul>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl01_hlnkMenuItem"
                               href="#/case_studies/commercial">Commercial</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl02_hlnkMenuItem"
                               href="#/case_studies/city_surveillance">City
                                Surveillance</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl03_hlnkMenuItem"
                               href="#/case_studies/education">Education</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl04_hlnkMenuItem"
                               href="#/case_studies/government">Government</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl05_hlnkMenuItem"
                               href="#/case_studies/retail">Retail</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl06_hlnkMenuItem"
                               href="#/case_studies/transportation">Transportation</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl01_rptMenuItem_ctl07_hlnkMenuItem"
                               href="#/case_studies/utilities">Utilities</a>
                        </li>

                    </ul>


                    <p class="head">
                        <a id="contentregion_1_dtListOtherMenu_ctl02_hlnkMenuLink"
                           href="#/wisenet_lite">WiseNet Lite</a></p>

                    <ul>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl02_rptMenuItem_ctl01_hlnkMenuItem"
                               href="#/wisenet_lite/2mp_wisenet_lite">2MP WiseNet
                                Lite</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl02_rptMenuItem_ctl02_hlnkMenuItem"
                               href="#/wisenet_lite/1_3mp_wisenet_lite">1.3MP WiseNet Lite</a>
                        </li>

                    </ul>

                </div>

                </span><br /><span>
                <div class="right" style="width: 200px">
                    <p class="head">
                        <a id="contentregion_1_dtListOtherMenu_ctl03_hlnkMenuLink" href="#/tools">Tools</a></p>

                    <ul>

                        <li>
                            <a href="#/tools/2015_product_comparison_chart">2015 Product Comparison Chart</a>
                        </li>

                        <li>
                            <a href="#/tools/bandwidth_storage_v4_26_calculator">Bandwidth/Storage v4.26 Calculator</a>
                        </li>

                        <li>
                            <a href="#/tools/2015_catalog_full_product_line">2015 Catalog Full Product Line</a>
                        </li>

                        <li>
                            <a href="#/tools/download_center">Download Center</a>
                        </li>

                        <li>
                            <a href="#/tools/samsung_product_selector_v2_25">Samsung Product Selector v2.25</a>
                        </li>

                        <li>
                            <a href="#/tools/samsung_field_of_view_calculator_v_4_0">Samsung Field Of View Calculator V 4.0</a>
                        </li>

                        <li>
                            <a href="#/tools/ipolis_device_manager_v1_18">iPOLiS Device Manager v1.18</a>
                        </li>

                        <li>
                            <a href="#/tools/samsung_ip_installer_tool_v2_01">Samsung IP Installer Tool V2.01</a>
                        </li>

                        <li>
                            <a href="#/tools/samsung_online_tool_updater_v1_3_2">Samsung Online Tool Updater V1.3.2</a>
                        </li>

                        <li>
                            <a href="#/tools/ipolis_network_design_tool_v1_6_8">iPOLiS Network Design Tool V1.6.8</a>
                        </li>

                        <li>
                            <a href="#/tools/network___analog_visio_shape_tool">Network &amp; Analog Visio Shape Tool</a>
                        </li>

                        <li>
                            <a href="#/tools/techwin_sd_card_player_v1_20">Techwin SD Card Player V1.20</a>
                        </li>

                        <li>
                            <a href="#/tools/hdd_compatible_list_v7_2">HDD Compatible List V7.2</a>
                        </li>

                        <li>
                            <a href="#/tools/vms_compatibility_charts">VMS Compatibility Charts</a>
                        </li>

                        <li>
                            <a href="#/tools/mounting_accessory_selection_guide_ver_4_8">Mounting Accessory Selection Guide Ver 4.8</a>
                        </li>

                        <li>
                            <a href="#/tools/ip_camera_temp__power,_heater_table_v1_2">IP Camera Temp. Power, Heater Table v1.2</a>
                        </li>

                        <li>
                            <a href="#/tools/ipolis_toolbox_online">iPOLis ToolBox Online</a>
                        </li>

                    </ul>

                </div>
                </span><span>
                <div class="right" style="width: 200px">
                    <p class="head">
                        <a id="contentregion_1_dtListOtherMenu_ctl04_hlnkMenuLink" href="#/training">Training</a></p>

                    <ul>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl04_rptMenuItem_ctl01_hlnkMenuItem" href="#/training/samsung_ip_institute">Samsung IP Institute</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl04_rptMenuItem_ctl02_hlnkMenuItem" href="#/training/online_training">Online Training</a>
                        </li>

                    </ul>

                </div>
                </span><br /><span>
                <div class="right" style="width: 200px">
                    <p class="head">
                        <a id="contentregion_1_dtListOtherMenu_ctl05_hlnkMenuLink"
                           href="#/sales">Sales</a></p>

                    <ul>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl05_rptMenuItem_ctl01_hlnkMenuItem"
                               href="#/sales/north_america_sales_region">North America
                                Sales Region</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl05_rptMenuItem_ctl02_hlnkMenuItem"
                               href="#/sales/manufacturer_representatives">Manufacturer
                                Representatives</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl05_rptMenuItem_ctl03_hlnkMenuItem"
                               href="#/sales/samsung_strategic_distributors">Samsung
                                Strategic Distributors</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl05_rptMenuItem_ctl04_hlnkMenuItem"
                               href="#/sales/minimum_advertised_price__map__policy">Minimum Advertised Price
                                (MAP) Policy</a>
                        </li>

                    </ul>

                </div>

                <div class="right" style="width: 200px">
                    <p class="head">
                        <a id="contentregion_1_dtListOtherMenu_ctl06_hlnkMenuLink"
                           href="#/support">Support</a></p>

                    <ul>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl06_rptMenuItem_ctl01_hlnkMenuItem"
                               href="#/support/customer_service">Customer Service</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl06_rptMenuItem_ctl02_hlnkMenuItem"
                               href="#/support/technical_support">Technical Support</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl06_rptMenuItem_ctl03_hlnkMenuItem"
                               href="#/support/warranty_policy">Warranty Policy</a>
                        </li>

                        <li>
                            <a id="contentregion_1_dtListOtherMenu_ctl06_rptMenuItem_ctl04_hlnkMenuItem"
                               href="#/support/repair_form">Repair Form</a>
                        </li>

                    </ul>

                </div>
                </span><br /><span>
                </span></span>

                    <div class="left" style="width: 200px">
                        <p class="head">
                            <a href="#" title="OTHERS">OTHERS</a></p>

                        <ul>

                            <li>
                                <a id="contentregion_1_rptSiteItemTreeList_ctl01_hlnkSiteItem" href="#/privacy">Privacy</a>
                            </li>

                            <li>
                                <a id="contentregion_1_rptSiteItemTreeList_ctl02_hlnkSiteItem" href="#/Sitemap">Sitemap</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="clearfx"></div>
            </div>
            <div class="clearfx"></div>
        </div>


    </div>
</div>